.p{
    background-color: #e19b49;
    text-align: center;
    color: blueviolet;
}

.h1{
    background-color: #153989;
    text-align: center;
    color: #000000;
}

body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
